.saplings-page {
    max-width: 1100px;
    margin: auto;
    padding: 2rem 1.5rem;
}

.sapling-title{
    color: rgba(74, 157, 95, 0.75);
}

.page-title {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: #2f6b3f;
}

.note {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
    opacity: 0.8;
}

/* Filters */
.filter-container {
    text-align: center;
    margin-bottom: 2rem;
}

.filter-btn {
    background: rgba(74, 157, 95, 0.75);
    color: white;
    padding: 0.5rem 1.2rem;
    border: none;
    margin: 0.3rem;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
    background: #3f8b55;
}

/* Grid */
.sapling-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

/* Cards */
.sapling-card {
    background: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s ease;
}

.sapling-card:hover {
    transform: scale(1.03);
}

.sapling-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.price {
    color: #4a9d5f;
    font-weight: bold;
    margin-top: 0.3rem;
}

.contact {
    font-size: 0.9rem;
    opacity: 0.8;
}
